.pagination {

	&__list {
		display: flex;
		@include option(gap, 149rem);
		@include option(padding, 0 0 0 19rem);
	}

	&__item {
		position: relative;
		z-index: 2;

		&:not(:last-child)::before {
			content: "";
			display: block;
			@include option(width, 127rem);
			@include option(height, 1rem);

			background-color: $grey300;

			position: absolute;
			top: 11rem;
			left: 54rem;
		}

		&_one {
			&:not(:last-child)::before {
				background-color: $chocolate;
			}
		}

		&_four {
			&:not(:last-child)::before {
				background-color: $select-yellow;
			}
		}

		&_five {
			&:not(:last-child)::before {
				background-color: $dark-tangerine;
			}
		}

		&_active {
			.pagination__link {
				color: $white;
			}

			&::after {
				content: "";
				display: block;
				@include option(width, 75rem);
				@include option(height, 68rem);

				mask: url("../assest/images/icons/rhombus.svg") no-repeat center;
				background-color: $grey300;

				position: absolute;
				top: -22rem;
				left: -15rem;
				z-index: 1;
			}

			&:nth-child(1) {
				&::after {
					background-color: $chocolate;
				}
			}

			&:nth-child(4) {
				&::after {
					background-color: $select-yellow;
				}
			}

			&:nth-child(5) {
				&::after {
					background-color: $dark-tangerine;
				}
			}
		}
	}

	&__link {
		position: relative;
		z-index: 2;

		font-family: $RobotoCondensed;
		font-style: italic;
		@include option(font-size, 24rem);
		@include option(font-weight, 500);
		@include option(line-height, 100%);
		@include option(letter-spacing, -0.06em);
		text-decoration: none;

		&_active {
			.pagination__link {
				color: $white;
			}

			&::after {
				content: "";
				display: block;
				@include option(width, 75rem);
				@include option(height, 68rem);

				mask: url("../assest/images/icons/rhombus.svg") no-repeat center;
				background-color: $grey300;

				position: absolute;
				top: -22rem;
				left: -15rem;
				z-index: 1;
			}
		}

		&_one,
		&_four,
		&_five {
			color: $white;
		}

		&_two,
		&_three,
		&_six,
		&_seven,
		&_eight,
		&_nine {
			color: $grey300;
		}
	}
}