.pagination {
    @media (max-width: $MIN-DESKTOP - 1) {
        display: none;
    }

    &__list {
        display: flex;
        @include option(gap, 129rem);
        @include option(padding, 0 0 0 9rem);
    }

    &__item {
        position: relative;

        &:not(:last-child)::before {
            content: "";
            display: block;
            @include option(width, 127rem);
            @include option(height, 1rem);

            background-color: $grey300;

            position: absolute;
            top: 11rem;
            left: 63rem;
            transition: .2s ease-in-out;
        }

        &_1 {
            &:not(:last-child)::before {
                background-color: $chocolate;
            }
        }

        &_4 {
            &:not(:last-child)::before {
                background-color: $select-yellow;
            }
        }

        &_5 {
            &:not(:last-child)::before {
                background-color: $dark-tangerine;
            }
        }

        &_active {
            .pagination__link {
                color: $white;
            }

            &::after {
                content: "";
                display: block;
                @include option(width, 75rem);
                @include option(height, 68rem);

                mask: url("../assest/images/icons/rhombus.svg") no-repeat center;
                background-color: $grey300;

                position: absolute;
                top: -22rem;
                left: -5rem;
                z-index: 1;
            }

            &:nth-child(1) {
                &::after {
                    background-color: $chocolate;
                }
            }

            &:nth-child(4) {
                &::after {
                    background-color: $select-yellow;
                }
            }

            &:nth-child(5) {
                &::after {
                    background-color: $dark-tangerine;
                }
            }
        }
    }

    &__link {
        position: relative;
        z-index: 2;

        padding: 10rem;

        font-family: $RobotoCondensed;
        font-style: italic;
        @include option(font-size, 24rem);
        @include option(font-weight, 500);
        @include option(line-height, 100%);
        @include option(letter-spacing, -0.06em);
        text-decoration: none;

        transition: .3s ease-in-out;

        &_active {
            .pagination__link {
                color: $white;
            }
        }

        &_1,
        &_4,
        &_5 {
            color: $white;
        }

        &_2,
        &_3,
        &_6,
        &_7,
        &_8,
        &_9 {
            color: $grey300;
        }

        &:hover,
        &:focus {
            opacity: 0.7;
        }
    }
}