.story {
	position: relative;
	bottom: 400rem;
	left: 272rem;

	width: max-content;

	&__container {
		display: flex;
		@include option(gap, 276rem);
	}

	&__title {
		@include option(padding, 41rem 0 0);

		font-family: $RobotoCondensed;
		font-style: italic;
		@include option(font-size, 128rem);
		@include option(font-weight, 700);
		@include option(line-height, 100%);
		@include option(letter-spacing, -0.053em);

		&_1999,
		&_2020,
		&_2021 {
			color: $crimson;
		}

		&_2007 {
			color: $violet-red;
		}

		&_2010 {
			background: linear-gradient(180deg, #989ca3 0%, #c9ced7 50%, #424750 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		&_2014 {
			color: $blue-steel;
		}

		&_2017 {
			color: $dark-tangerine;
		}

		&_2019 {
			color: $select-yellow;
		}

		&_2022 {
			color: $chocolate;
		}
	}

	&__subtitle {
		@include option(padding, 54rem 0 0 13rem);

		font-family: $RobotoCondensed;
		font-style: italic;
		@include option(font-size, 36rem);
		@include option(font-weight, 700);
		@include option(line-height, 130%);
		@include option(letter-spacing, -0.03em);

		&_1999,
		&_2007,
		&_2014,
		&_2020,
		&_2021 {
			color: $grey600;
		}

		&_2010,
		&_2017,
		&_2019,
		&_2022 {
			color: $white;
		}
	}

	&__desc {
		@include option(width, 631rem);
		@include option(padding, 27rem 0 0 15rem);

		@include option(font-size, 20rem);
		@include option(font-weight, 400);
		@include option(line-height, 140%);
		color: $grey800;
	}

	&__image {
		// position: absolute;
		// @include option(top, 59rem);
		// @include option(left, 908rem);

		@include option(width, 530rem);
		@include option(height, 735rem);
		@include option(margin, 35rem 0 0);
	}
}