.intro {
    position: relative;
    @include option(top, -356rem, 56rem);
    @include option(left, 358rem, 0);
    z-index: 2;

    @include option(width, min-content, 360rem);
    @include option(height, min-content, 537rem);
    @include option(overflow, visible, hidden);

    &__title {
        @include option(width, max-content);
        @include option(padding, 0, 0 0 0 42rem);

        font-family: $RobotoCondensed;
        font-style: italic;
        @include option(font-size, 64rem, 28rem);
        @include option(font-weight, 700);
        @include option(line-height, 100%);
        @include option(letter-spacing, -0.03em);
        color: $grey200;

        &_end {
            @include option(padding, 26rem 0 0, 0 0 0 42rem);
        }
    }

    &__text {
        @include option(width, 610rem, 313rem);
        @include option(padding, 27rem 0 0, 18rem 0 0 42rem);

        @include option(font-size, 20rem, 14rem);
        @include option(font-weight, 400);
        @include option(line-height, 140%);
        color: $white;

        & p {
            @include option(padding, 0 0 28rem, 0 0 23rem);
        }
    }

    &__image {
        &_start-1 {
            position: absolute;
            @include option(top, 264rem, 317rem);
            @include option(right, -265rem, 227rem);
            z-index: 5;

            @include option(height, 439rem, 191rem);

            transition-property: transform, opacity;
            transition-duration: 1.3s, .1s;
            opacity: 0;
            transform: translate(315%, -60%) scale(.25) rotate(-17deg);

            @include intro-img {
                opacity: 1;
                transform: translate(0, 0) scale(1) rotate(17deg);
            }
        }

        &_start-2 {
            position: absolute;
            @include option(top, 249rem, 311rem);
            @include option(right, -454rem, 145rem);
            z-index: 4;

            @include option(height, 348rem, 151rem);

            transition-property: transform, opacity;
            transition-duration: 1.5s, .1s;
            opacity: 0;
            filter: brightness(0.93);
            transform: translate(280%, -58%) scale(.31) rotate(-17deg);

            @include intro-img {
                opacity: 1;
                transform: translate(0, 0) scale(1) rotate(17deg);
            }
        }

        &_start-3 {
            position: absolute;
            @include option(top, 244rem, 308rem);
            @include option(right, -612rem, 76rem);
            z-index: 3;

            @include option(height, 255rem, 111rem);

            transition-property: transform, opacity;
            transition-duration: 1.7s, .1s;
            opacity: 0;
            filter: brightness(0.86);
            transform: translate(219%, -62%) scale(.38) rotate(-17deg);

            @include intro-img {
                opacity: 1;
                transform: translate(0, 0) scale(1) rotate(17deg);
            }
        }

        &_start-4 {
            position: absolute;
            @include option(top, 239rem, 306rem);
            @include option(right, -724rem, 28rem);
            z-index: 2;

            @include option(height, 188rem, 82rem);

            transition-property: transform, opacity;
            transition-duration: 1.9s, .1s;
            opacity: 0;
            filter: brightness(0.79);
            transform: translate(168%, -67%) scale(.45) rotate(-17deg);

            @include intro-img {
                opacity: 1;
                transform: translate(0, 0) scale(1) rotate(17deg);
            }
        }

        &_start-5 {
            position: absolute;
            @include option(top, 231rem, 303rem);
            @include option(right, -808rem, -9rem);
            z-index: 1;

            @include option(height, 134rem, 58rem);

            transition-property: transform, opacity;
            transition-duration: 2.1s, .1s;
            opacity: 0;
            filter: brightness(0.72);
            transform: translate(114%, -66%) scale(.65) rotate(-17deg);

            @include intro-img {
                opacity: 1;
                transform: translate(0, 0) scale(1) rotate(17deg);
            }
        }

        &_start-6 {
            position: absolute;
            @include option(top, 209rem);
            @include option(right, -873rem);

            @include option(display, block, none);
            @include option(height, 109rem);

            transition-property: transform, opacity;
            transition-duration: 2.3s, .1s;
            opacity: 0;
            filter: brightness(0.65);
            transform: translate(37%, -50%) scale(.8) rotate(-17deg);

            @include intro-img {
                opacity: 1;
                transform: translate(0, 0) scale(1) rotate(17deg);
            }
        }
    }
}