.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    //height: 100vh;

    //img {
    //    width: 100vw;
    //}

    &_main {

    }

    &__item {
        div,
        svg {
            height: 100%;
        }

        img {
            object-fit: contain;
        }

        &_9-1,
        &_8-1,
        &_7-1,
        &_6-1,
        &_5-1,
        &_4-1,
        &_3-1,
        &_2-1,
        &_1-1 {
            .background_main &,
            .background_history & {
                position: absolute;
                @include option(top, -203rem, -226rem);
                @include option(left, -123rem, 61rem);

                @include option(height, 471rem, 325rem);

                fill: $grey300;

                transform: translate(-100%, 50%);
                transition: .5s .3s ease-in-out;
            }

            @include bg-enter() {
                transform: translate(0%, 0%);
            }
        }

        &_7-1 {
            .background_main & {
                fill: $grey1000;
            }
        }

        &_5-1 {
            .background_main & {
                fill: $medium-blue;
            }
        }

        &_4-1 {
            .background_main & {
                fill: $brown;
            }
        }

        &_1-1 {
            .background_main & {
                fill: $light-olive;
            }
        }

        &_9-2 {
            .background_main & {
                position: absolute;
                @include option(top, 255rem, 284rem);
                @include option(left, 1013rem, -150rem);

                @include option(height, 470rem, 296rem);

                transition: .3s 1s ease-in-out;
                transform: translate(100%, -100%);
            }

            @include bg-enter {
                transform: translate(0, 0);
            }
        }

        &_9-3 {
            .background_main & {
                position: absolute;
                @include option(top, 705rem, 453rem);
                @include option(left, 588rem, -8rem);

                @include option(height, 223rem, 130rem);

                fill: $crimson;

                transition: .3s .9s ease-in-out;
                transform: translate(-250%, 200%);
            }

            @include bg-enter {
                transform: translate(0, 0);
            }
        }

        &_9-4 {
            .background_main & {
                position: absolute;
                @include option(top, 490rem, 366rem);
                @include option(left, 673rem, -150rem);

                @include option(height, 486rem, 307rem);

                fill: $grey300;

                transition: .3s .8s ease-in-out;
                transform: translate(100%, -100%);
            }

            @include bg-enter {
                transform: translate(0, 0);
            }
        }

        &_9-5 {
            .background_main & {
                position: absolute;
                @include option(top, 839rem, 508rem);
                @include option(left, 1131rem, -35rem);

                @include option(height, 392rem, 280rem);

                fill: $grey300;

                transition: .5s .5s ease-in-out;
                opacity: 0;
            }

            @include bg-enter {
                opacity: 1;
            }
        }

        &_8-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 0);
                @include option(left, 0);

                transform: translate(0%, 100%);
                transition: .3s .8s ease-in-out;
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_7-2 {
            .background_main & {
                position: absolute;
                @include option(top, -121rem, 360rem);
                @include option(right, -180rem, -62rem);

                @include option(width, 1298rem, 488rem);

                animation: rotation 90s 1.7s linear infinite;
            }
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        &_7-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 0rem);
                @include option(left, 0rem);

                transition: .5s .3s ease-in-out;
                transform: translateY(100%);
            }

            @include bg-enter {
                transform: translateY(0%);
            }
        }

        &_7-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, 99rem, 214rem);
                @include option(left, 0rem, -350rem);

                @include option(height, 634rem, 414rem);

                transition: .5s .8s ease-in-out;
                opacity: 0;
            }

            @include bg-enter {
                opacity: 1;
            }
        }

        &_7-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, -291rem, -202rem);
                @include option(left, 48rem, -777rem);

                @include option(height, 724rem, 530rem);

                transition: .5s .8s ease-in-out;
                transform: translate(-195%, 100%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_7-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 203rem, 155rem);
                @include option(right, -927rem, -698rem);

                @include option(height, 724rem, 475rem);

                transition: .5s .8s ease-in-out;
                transform: translate(200%, -100%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_6-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, -657rem, -448rem);
                @include option(left, 15rem, 27rem);

                @include option(width, 110%, 130%);
                @include option(height, 100%);

                background: linear-gradient(170deg, #aab5d1 0%, rgba(194, 203, 226, 0) 100%);

                transition: .5s .3s ease-in-out;
                transform: translateY(100%) rotate(-17.1deg);
            }

            @include bg-enter {
                transform: translateY(0%) rotate(-17.1deg);
            }
        }

        &_6-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, -291rem, -72rem);
                @include option(left, 48rem, -550rem);

                @include option(height, 724rem, 389rem);

                transition: .5s 1s ease-in-out;
                transform: translate(-195%, 100%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_6-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, 203rem, 164rem);
                @include option(right, -927rem, -504rem);

                @include option(height, 724rem, 389rem);

                transition: .5s .8s ease-in-out;
                transform: translate(200%, -100%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_5-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 15rem);
                @include option(left, -47rem);

                @include option(display, block, none);
                @include option(height, 218rem);

                fill: $aqua;

                transition: .3s .8s ease-in-out;
                transform: translate(-120%, 100%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_5-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 95rem);
                @include option(left, 286rem);

                @include option(display, block, none);
                @include option(height, 100rem);

                fill: $dark-tangerine;

                transition: .3s .9s ease-in-out;
                transform: translate(-260%, 200%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_5-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, -97rem);
                @include option(left, -305rem);

                @include option(display, block, none);
                @include option(height, 211rem);

                fill: $grey900;

                transition: .3s 1s ease-in-out;
                transform: translate(-105%, 100%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_5-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, -49rem, -33rem);
                @include option(left, 391rem, -500rem);

                @include option(width, 893rem, 578rem);

                transition: .7s 1.4s ease-in-out;
                opacity: 0;
            }

            @include bg-enter {
                opacity: 1;
            }
        }

        &_5-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 206rem, 131rem);
                @include option(left, 1217rem, 33rem);

                @include option(width, 893rem, 578rem);

                transition: .7s 1.8s ease-in-out;
                opacity: 0;
            }

            @include bg-enter {
                opacity: 1;
            }
        }

        &_4-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 205rem);
                @include option(left, 283rem);

                @include option(display, block, none);
                @include option(height, 153rem);

                fill: $grey900;

                transition: .3s .5s ease-in-out;
                transform: translate(335%, -340%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_4-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 87rem);
                @include option(left, 183rem);
                z-index: 1;

                @include option(display, block, none);
                @include option(height, 179rem);

                fill: $sienna;

                transition: .3s .5s ease-in-out;
                transform: translate(-140%, 105%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_4-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, 142rem);
                @include option(left, 435rem);
                z-index: 1;

                @include option(display, block, none);
                @include option(height, 72rem);


                fill: $white;

                transition: .3s .7s ease-in-out;
                transform: translate(805%, -600%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_4-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, 76rem);
                @include option(left, 284rem);

                @include option(display, block, none);
                @include option(height, 160rem);

                fill: $select-yellow;

                transition: .3s .3s ease-in-out;
                transform: translate(-250%, 85%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_4-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 347rem, 275rem);
                @include option(left, 846rem, -124rem);

                @include option(width, 741rem, 401rem);

                transition: .7s .4s ease-in-out;
                opacity: 0;
            }

            @include bg-enter {
                opacity: 1;
            }
        }

        &_4-7 {
            .background_main & {
                position: absolute;
                @include option(bottom, -72rem, 50rem);
                @include option(left, 771rem, -154rem);

                @include option(width, 1273rem, 690rem);

                transition: .7s .8s ease-in-out;
                opacity: 0;
            }

            @include bg-enter {
                opacity: 1;
            }
        }

        &_3-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 11rem);
                @include option(left, -55rem);

                @include option(display, block, none);
                @include option(height, 250rem);

                fill: $grey300;

                transition: .3s 1.3s ease-in-out;
                transform: translate(-92%, 71%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_3-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 117rem);
                @include option(left, 360rem);

                @include option(display, block, none);
                @include option(height, 100rem);

                fill: $crimson;

                transition: .3s 1.2s ease-in-out;
                transform: translate(-241%, 190%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_3-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, -75rem);
                @include option(left, -231rem);

                @include option(display, block, none);
                @include option(height, 211rem);

                transition: .3s 1.4s ease-in-out;
                transform: translate(-66%, 64%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_3-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, -164rem, -34rem);
                @include option(left, 790rem, -22rem);

                @include option(height, 400rem, 281rem);

                fill: $white;

                transition: .4s .4s ease-in-out;
                @include option(transform, translate(-181%, -130%) rotate(33.5deg), translate(-92%, 71%) rotate(0));
            }

            @include bg-enter {
                @include option(transform, translate(0%, 0%) rotate(33.5deg), translate(0%, 0%) rotate(0));
            }
        }

        &_3-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 86rem);
                @include option(right, -42rem);
                z-index: 1;

                @include option(display, block, none);
                @include option(height, 74rem);

                fill: $grey300;

                transition: .3s 1.8s ease-in-out;
                transform: translate(79%, -62%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_3-7 {
            .background_main & {
                position: absolute;
                @include option(bottom, 86rem);
                @include option(right, -199rem);

                @include option(display, block, none);
                @include option(height, 149rem);

                fill: $crimson;

                transition: .3s 1.7s ease-in-out;
                transform: translate(34%, -20%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_3-8 {
            .background_main & {
                position: absolute;
                @include option(bottom, -232rem, 26rem);
                @include option(left, 794rem, -47rem);

                @include option(width, 1734rem, 648rem);

                transition: .5s .7s ease-in-out;
                transform: translate(60%, 30%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_2-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 140rem);
                @include option(left, 283rem);

                @include option(display, block, none);
                @include option(height, 153rem);

                transition: .3s 1.4s ease-in-out;
                transform: translate(335%, -325%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_2-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 21rem);
                @include option(left, 183rem);
                z-index: 1;

                @include option(display, block, none);
                @include option(height, 179rem);

                fill: $grey300;

                transition: .3s 1.3s ease-in-out;
                transform: translate(-128%, 101%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_2-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, 76rem);
                @include option(left, 434rem);
                z-index: 2;

                @include option(display, block, none);
                @include option(height, 72rem);

                fill: $white;

                transition: .3s 1.5s ease-in-out;
                transform: translate(805%, -635%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_2-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, 10rem);
                @include option(left, 284rem);

                @include option(display, block, none);
                @include option(height, 160rem);

                fill: $crimson;

                transition: .3s 1.1s ease-in-out;
                transform: translate(-247%, 90%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_2-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 38rem, -53rem);
                @include option(left, 676rem, -81rem);
                z-index: 1;

                @include option(height, 530rem, 284rem);

                fill: $grey300;

                transition: .4s .8s ease-in-out;
                transform: translate(-149%, 105%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }
        }

        &_2-7 {
            .background_main & {
                position: absolute;
                @include option(bottom, 257rem, 421rem);
                @include option(left, 284rem, 21rem);

                @include option(width, 913rem, 325rem);

                transition: 2s 2.5s ease-in-out;
                opacity: 0;
            }

            @include bg-enter {
                opacity: 1;
            }
        }

        &_2-8 {
            .background_main & {
                position: absolute;
                @include option(bottom, 0);
                @include option(left, 722rem);

                @include option(display, block, none);
                @include option(width, 1199rem);

                transition: .5s .4s ease-in-out;
                transform: translateY(100%);
            }

            @include bg-enter {
                transform: translateY(0%);
            }
        }

        &_1-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 65rem);
                @include option(left, -167rem);

                @include option(display, block, none);
                @include option(height, 162rem);

                fill: $granite;

                transition: .3s 1.3s ease-in-out;
                transform: translate(-60%, 47%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }

            .background_history & {
                position: absolute;
                @include option(top, 903rem);
                @include option(left, 117rem);

                @include option(display, block, none);
                @include option(height, 218rem);

                fill: $grey300;
            }
        }

        &_1-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 126rem);
                @include option(left, 87rem);

                @include option(display, block, none);
                @include option(height, 74rem);

                fill: $white;

                transition: .3s 1.1s ease-in-out;
                transform: translate(-146%, 113%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }

            .background_history & {
                position: absolute;
                @include option(top, 938rem);
                @include option(left, 457rem);

                @include option(display, block, none);
                @include option(height, 100rem);

                fill: $crimson;
            }
        }

        &_1-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, -32rem);
                @include option(left, -366rem);

                @include option(display, block, none);
                @include option(height, 157rem);

                fill: $chocolate;

                transition: .3s 1.4s ease-in-out;
                transform: translate(-27%, 26%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }

            .background_history & {
                position: absolute;
                @include option(top, 1039rem);
                @include option(left, -162rem);

                @include option(display, block, none);
                @include option(height, 215rem);
            }
        }

        &_1-5 {
            .background_main & {
                position: absolute;
                @include option(top, 311rem);
                @include option(right, 0);
                z-index: 1;

                @include option(display, block, none);
                @include option(height, 84rem);

                fill: $white;

                transition: .3s 0.9s ease-in-out;
                transform: translate(100%, -79%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }

            .background_history & {
                position: absolute;
                @include option(bottom, 0);
                @include option(right, 0);
                z-index: 1;

                @include option(display, block, none);
                @include option(height, 397rem);
            }
        }

        &_1-6 {
            .background_main & {
                position: absolute;
                @include option(top, 246rem);
                @include option(right, -132rem);

                @include option(display, block, none);
                @include option(height, 149rem);

                fill: $chocolate;

                transition: .3s .8s ease-in-out;
                transform: translate(56%, -34%);
            }

            @include bg-enter {
                transform: translate(0%, 0%);
            }

            .background_history & {
                position: absolute;
                @include option(top, 751rem, 573rem);
                @include option(left, 1057rem, -110rem);
                z-index: 1;

                @include option(height, 446rem, 276rem);

                fill: $grey300;
            }
        }

        &_1-7 {
            .background_main & {
                position: absolute;
                @include option(bottom, -134rem, 129rem);
                @include option(left, 788rem, -61rem);

                @include option(width, 1247rem, 495rem);

                animation: rotation 110s .3s linear infinite;
            }
        }

        &_start-1 {
            .background_now & {
                @include option(height, 1080rem, 769rem);

                transform: translateY(0%);
                transition: .3s .2s ease-in-out;
            }

            @include bg-enter {
                transform: translateY(0%);
            }
        }

        &_start-2 {
            .background_now & {
                position: absolute;
                @include option(top, 143rem, 127rem);
                @include option(left, 263rem, 1rem);

                @include option(height, 331rem, 146rem);

                fill: $grey300;
            }
        }

        &_start-3 {
            .background_now & {
                position: absolute;
                @include option(top, 143rem);
                @include option(left, 283rem);

                @include option(display, block, none);
                @include option(height, 644rem);

                fill: $crimson;
            }
        }

        &_start-4 {
            .background_now & {
                position: absolute;
                @include option(top, 0, 127rem);
                @include option(left, 0, 20rem);

                @include option(display, none, block);
                @include option(height, 0, 303rem);

                fill: $crimson;
            }
        }

        &_start-5 {
            .background_now & {
                position: absolute;
                @include option(top, 915rem, 11rem);
                @include option(left, -129rem, -1rem);

                @include option(display, block, none);
                @include option(height, 149rem, 146rem);

                fill: $grey300;
            }
        }

        &_start-6 {
            .background_now & {
                position: absolute;
                @include option(top, 906rem, 11rem);
                @include option(left, 26rem, -1rem);

                @include option(display, block, none);
                @include option(height, 84rem, 146rem);

                fill: $white;
            }
        }

        &_start-7 {
            .background_now & {
                position: absolute;
                @include option(top, 623rem, 541rem);
                @include option(right, -162rem, -159rem);

                @include option(height, 125rem, 85rem);
            }
        }

        &_start-8 {
            .background_now & {
                position: absolute;
                @include option(top, 724rem, 611rem);
                @include option(right, 78rem, 20rem);

                @include option(height, 132rem, 77rem);

                fill: $crimson;
            }
        }

        &_start-9 {
            .background_now & {
                position: absolute;
                @include option(top, 716rem, 611rem);
                @include option(right, -12rem, -20rem);

                @include option(height, 130rem, 75rem);

                fill: $grey300;
            }
        }

        &_start-10 {
            .background_now & {
                position: absolute;
                @include option(top, 670rem, 571rem);
                @include option(right, -302rem, -230rem);

                @include option(height, 130rem, 85rem);

                fill: $white;
            }
        }

        &_end-1 {
            .background_now & {
                @include option(height, 1080rem, 877rem);

                transform: translateY(100%);
                transition: .3s .2s ease-in-out;
            }

            @include bg-enter {
                transform: translateY(0%);
            }
        }

        &_end-2 {
            .background_now & {
                position: absolute;
                @include option(top, 169rem, 127rem);
                @include option(left, 263rem, 1rem);

                @include option(height, 331rem, 146rem);

                fill: $grey300;
            }
        }

        &_end-3 {
            .background_now & {
                position: absolute;
                @include option(top, 169rem);
                @include option(left, 283rem);

                @include option(display, block, none);
                @include option(height, 886rem);

                fill: $crimson;
            }
        }

        &_end-4 {
            .background_now & {
                position: absolute;
                @include option(top, 0, 127rem);
                @include option(left, 0, 20rem);

                @include option(display, none, block);
                @include option(height, 0, 582rem);

                fill: $crimson;
            }
        }

        &_end-5 {
            .background_now & {
                position: absolute;
                @include option(top, 915rem, 11rem);
                @include option(left, -129rem, -1rem);

                @include option(display, block, none);
                @include option(height, 149rem, 146rem);

                fill: $grey300;
            }
        }

        &_end-6 {
            .background_now & {
                position: absolute;
                @include option(top, 906rem, 11rem);
                @include option(left, 24rem, -1rem);

                @include option(display, block, none);
                @include option(height, 85rem, 146rem);

                fill: $white;
            }
        }

        &_end-7 {
            .background_now & {
                position: absolute;
                @include option(top, 348rem, 644rem);
                @include option(right, -108rem, -142rem);

                @include option(height, 155rem, 80rem);
            }
        }

        &_end-8 {
            .background_now & {
                position: absolute;
                @include option(top, 478rem, 708rem);
                @include option(right, 228rem, 20rem);

                @include option(height, 132rem, 77rem);

                fill: $crimson;
            }
        }

        &_end-9 {
            .background_now & {
                position: absolute;
                @include option(top, 453rem, 709rem);
                @include option(right, 91rem, -15rem);

                @include option(height, 148rem, 76rem);

                fill: $grey300;
            }
        }

        &_end-10 {
            .background_now & {
                position: absolute;
                @include option(top, 495rem, 723rem);
                @include option(right, 110rem, -35rem);

                @include option(height, 60rem, 30rem);

                fill: $white;
            }
        }

        &_end-11 {
            .background_now & {
                position: absolute;
                @include option(top, 97rem, 89rem);
                @include option(right, 159rem, 21rem);

                @include option(height, 130rem, 29rem);
            }
        }
    }

    &-enter {
        opacity: 0;
    }

    &-enter-active,
    &-enter-done,
    &-exit {
        opacity: 1;
        transition: 0.2s ease-in-out;
    }

    &-exit-active {
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
}