.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    //height: 100vh;

    //img {
    //    width: 100vw;
    //}

    &_main {

    }

    &__item {
        div,
        svg {
            height: 100%;
        }

        img {
            object-fit: contain;
        }

        &_9-1,
        &_8-1,
        &_7-1,
        &_6-1,
        &_5-1,
        &_4-1,
        &_3-1,
        &_2-1,
        &_1-1 {
            .background_main & {
                position: absolute;
                @include option(top, -203rem);
                @include option(left, -123rem);

                @include option(height, 471rem);

                fill: $grey300;

                //transform: translate(-100%, 50%);
                transition: .5s .2s ease-in-out;

                @include bg-enter() {
                    transform: translate(0%, 0%);
                }
            }
        }

        &_7-1 {
            .background_main & {
                fill: $grey1000;
            }
        }

        &_5-1 {
            .background_main & {
                fill: $medium-blue;
            }
        }

        &_4-1 {
            .background_main & {
                fill: $brown;
            }
        }

        &_1-1 {
            .background_main & {
                fill: $light-olive;
            }
        }

        &_9-2 {
            .background_main & {
                position: absolute;
                @include option(top, 255rem);
                @include option(left, 1013rem);

                @include option(height, 470rem);
            }
        }

        &_9-3 {
            .background_main & {
                position: absolute;
                @include option(top, 705rem);
                @include option(left, 588rem);

                @include option(height, 223rem);

                fill: $crimson;
            }
        }

        &_9-4 {
            .background_main & {
                position: absolute;
                @include option(top, 490rem);
                @include option(left, 673rem);

                @include option(height, 486rem);

                fill: $grey300;
            }
        }

        &_9-5 {
            .background_main & {
                position: absolute;
                @include option(top, 839rem);
                @include option(left, 1131rem);

                @include option(height, 392rem);

                fill: $grey300;
            }
        }

        &_8-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 0);
                @include option(left, 0);

                transform: translate(0%, 0%);
                transition: .5s .3s ease-in-out;

                @include bg-enter {
                    transform: translate(0%, 100%);
                }
            }
        }

        &_7-2 {
            .background_main & {
                position: absolute;
                @include option(top, -180rem);
                @include option(left, 790rem);

                @include option(width, 1298rem);
            }
        }

        &_7-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 0rem);
                @include option(left, 0rem);
            }
        }

        &_7-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, 99rem);
                @include option(left, 0rem);

                @include option(height, 634rem);
            }
        }

        &_7-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, -291rem);
                @include option(left, 48rem);

                @include option(width, 1226rem);
            }
        }

        &_7-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 203rem);
                @include option(left, 1621rem);

                @include option(width, 1226rem);
            }
        }

        &_6-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, -657rem);
                @include option(left, 15rem);

                @include option(width, 110%);
                @include option(height, 100%);

                background: linear-gradient(170deg, #aab5d1 0%, rgba(194, 203, 226, 0) 100%);

                transform: rotate(-17.1deg);
            }
        }

        &_6-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, -291rem);
                @include option(left, 48rem);

                @include option(width, 1226rem);
            }
        }

        &_6-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, 203rem);
                @include option(left, 1621rem);

                @include option(width, 1226rem);
            }
        }

        &_5-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 15rem);
                @include option(left, -47rem);

                @include option(height, 218rem);

                fill: $aqua;
            }
        }

        &_5-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 95rem);
                @include option(left, 286rem);

                @include option(height, 100rem);

                fill: $dark-tangerine;
            }
        }

        &_5-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, -97rem);
                @include option(left, -305rem);

                @include option(height, 211rem);

                fill: $grey900;
            }
        }

        &_5-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, -49rem);
                @include option(left, 391rem);

                @include option(width, 893rem);
            }
        }

        &_5-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 206rem);
                @include option(left, 1217rem);

                @include option(width, 893rem);
            }
        }

        &_4-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 205rem);
                @include option(left, 283rem);

                @include option(height, 153rem);

                fill: $grey900;
            }
        }

        &_4-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 87rem);
                @include option(left, 183rem);
                z-index: 1;

                @include option(height, 179rem);

                fill: $sienna;
            }
        }

        &_4-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, 142rem);
                @include option(left, 435rem);
                z-index: 1;

                @include option(height, 72rem);


                fill: $white;
            }
        }

        &_4-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, 76rem);
                @include option(left, 284rem);

                @include option(height, 160rem);

                fill: $select-yellow;
            }
        }

        &_4-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 347rem);
                @include option(left, 846rem);

                @include option(width, 741rem);
            }
        }

        &_4-7 {
            .background_main & {
                position: absolute;
                @include option(bottom, -72rem);
                @include option(left, 771rem);

                @include option(width, 1273rem);
            }
        }

        &_3-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 11rem);
                @include option(left, -55rem);

                @include option(height, 250rem);

                fill: $grey300;
            }
        }

        &_3-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 117rem);
                @include option(left, 360rem);

                @include option(height, 100rem);

                fill: $crimson;
            }
        }

        &_3-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, -75rem);
                @include option(left, -231rem);

                @include option(height, 211rem);
            }
        }

        &_3-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, -164rem);
                @include option(left, 790rem);

                @include option(height, 400rem);

                fill: $white;

                transform: rotate(33.5deg);
            }
        }

        &_3-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 86rem);
                @include option(right, -42rem);
                z-index: 1;

                @include option(height, 74rem);

                fill: $grey300;
            }
        }

        &_3-7 {
            .background_main & {
                position: absolute;
                @include option(bottom, 86rem);
                @include option(right, -199rem);

                @include option(height, 149rem);

                fill: $crimson;
            }
        }

        &_3-8 {
            .background_main & {
                position: absolute;
                @include option(bottom, -232rem);
                @include option(left, 794rem);

                @include option(width, 1734rem);
            }
        }

        &_2-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 140rem);
                @include option(left, 283rem);

                @include option(height, 153rem);
            }
        }

        &_2-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 21rem);
                @include option(left, 183rem);
                z-index: 1;

                @include option(height, 179rem);

                fill: $grey300;
            }
        }

        &_2-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, 76rem);
                @include option(left, 434rem);
                z-index: 1;

                @include option(height, 72rem);

                fill: $white;
            }
        }

        &_2-5 {
            .background_main & {
                position: absolute;
                @include option(bottom, 10rem);
                @include option(left, 284rem);

                @include option(height, 160rem);

                fill: $crimson;
            }
        }

        &_2-6 {
            .background_main & {
                position: absolute;
                @include option(bottom, 38rem);
                @include option(left, 676rem);
                z-index: 1;

                @include option(height, 530rem);

                fill: $grey300;
            }
        }

        &_2-7 {
            .background_main & {
                position: absolute;
                @include option(bottom, 257rem);
                @include option(left, 284rem);

                @include option(width, 913rem);
            }
        }

        &_2-8 {
            .background_main & {
                position: absolute;
                @include option(bottom, 0);
                @include option(left, 722rem);

                @include option(width, 1199rem);
            }
        }

        &_1-2 {
            .background_main & {
                position: absolute;
                @include option(bottom, 65rem);
                @include option(left, -167rem);

                @include option(height, 162rem);

                fill: $granite;
            }
        }

        &_1-3 {
            .background_main & {
                position: absolute;
                @include option(bottom, 126rem);
                @include option(left, 87rem);

                @include option(height, 74rem);

                fill: $white;
            }
        }

        &_1-4 {
            .background_main & {
                position: absolute;
                @include option(bottom, -32rem);
                @include option(left, -366rem);

                @include option(height, 157rem);

                fill: $chocolate;
            }
        }

        &_1-5 {
            .background_main & {
                position: absolute;
                @include option(top, 311rem);
                @include option(right, 0);
                z-index: 1;

                @include option(height, 84rem);

                fill: $white;
            }
        }

        &_1-6 {
            .background_main & {
                position: absolute;
                @include option(top, 246rem);
                @include option(right, -132rem);

                @include option(height, 149rem);

                fill: $chocolate;
            }
        }

        &_1-7 {
            .background_main & {
                position: absolute;
                @include option(bottom, -134rem);
                @include option(left, 788rem);

                @include option(width, 1247rem);
            }
        }
    }

    &-enter {
        opacity: 0;
    }

    &-enter-active,
    &-enter-done,
    &-exit {
        opacity: 1;
        transition: 0.2s ease-in-out;
    }

    &-exit-active {
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
}