.factory {
    position: relative;
    @include option(top, -292rem, 45rem);
    @include option(left, 283rem, 20rem);

    @include option(width, 620rem, 320rem);

    &__container {
        @include option(height, 620rem);
    }

    &__text {
        @include option(width, 620rem, 320rem);

        font-family: $Roboto;
        @include option(font-size, 20rem, 14rem);
        @include option(font-weight, 400);
        @include option(line-height, 140%);
        color: $grey800;

        p:not(:last-child) {
            @include option(padding, 0 0 27rem, 0 0 23rem);
        }
    }

    &__image {
        position: relative;
        @include option(top, -558rem, 47rem);
        @include option(left, 677rem, -20rem);

        @include option(width, 900rem, 360rem);
        @include option(height, 586rem, 236rem);

        box-shadow: 10rem 34rem 94rem rgba(57, 84, 123, 0.3);
    }
}