/* FONTS */
$RobotoCondensed: "RobotoCondensed", sans-serif;
$Roboto: "Roboto", "Arial", sans-serif;
$Lato: "Lato", "Arial", sans-serif;

/* COLORS */

$white: #ffffff;
$black: #212121;
$black900: #323232;
$granite: #353535;
$crimson: #cd102e;
$violet-red: #d51b8a;
$grey1000: #434851;
$grey900: #575970;
$grey800: #66697e;
$grey700: #646464;
$grey600: #8197b8;
$grey400: #9fa6d6;
$grey300: #b7c7df;
$grey200: #e5e8ee;
$grideperleft: #cccccc;
$light-grey: #bcbcbc;
$manatee: #989ca3;
$grey-squirrel: #7b8089;
$medium-blue: #006ab5;
$blue-steel: #4f86d1;
$aqua: #0091f8;
$dark-tangerine: #b2ca12;
$select-yellow: #ffb800;
$sienna: #a44e2b;
$chocolate: #da641d;
$light-olive: #82531f;
$brown: #9d5e00;
