/* FONTS */
$RobotoCondensed: "RobotoCondensed", sans-serif;
$Roboto: "Roboto", "Arial", sans-serif;
$Lato: "Lato", "Arial", sans-serif;

/* COLORS */

$white: #ffffff;
$black: #212121;
$black900: #323232;
$crimson: #cd102e;
$grey900: #575970;
$grey800: #66697e;
$grey700: #646464;
$grey600: #8197b8;
$grey400: #9fa6d6;
$grey300: #b7c7df;
$grey200: #e5e8ee;
