/* GLOBAL */
@import './global/variables.scss';
@import './global/constants.scss';
@import './global/adaptive.scss';
@import './global/mixins.scss';
@import './global/fonts.scss';
@import './global/global.scss';
@import './global/visually-hidden.scss';

/* COMPONENTS */

@import './header/Header.scss';
@import './nav/Nav.scss';
@import './pagination/Pagination.scss';
@import './story/Story.scss';
@import './background/Background.scss';
@import './intro/Intro.scss';
@import './factory/Factory.scss';


.page {
    &-enter {
        opacity: 0;
    }
    &-enter-active,
    &-enter-done,
    &-exit {
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
    &-exit-active {
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
}