.nav {
	position: relative;
	@include option(padding, 268rem 0 0);

	&__logo {
		display: block;
		@include option(width, 158rem);
		@include option(height, 101rem);
	}

	&__logo-image {
		@include option(width, 158rem);
		@include option(height, 101rem);
		@include option(padding, 0 6rem 0 0);


		color: $crimson;
		fill: currentColor;
		--color-rhombus: #b7c7df;

		&_eight {
			color: $violet-red;
		}

		&_seven {
			color: $manatee;
			--color-rhombus: #626771;
		}

		&_six {
			color: $blue-steel;
		}

		&_five {
			color: $dark-tangerine;
			--color-rhombus: #575970;
		}

		&_four {
			color: $select-yellow;
			--color-rhombus: #575970;
		}

		&_one {
			color: $chocolate;
			--color-rhombus: #353535;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		@include option(gap, 21rem);
		@include option(padding, 33rem 0 0 81rem);
	}

	&__link {
		position: relative;

		display: block;
		width: max-content;
		@include option(padding, 5rem);

		font-family: $RobotoCondensed;
		font-style: italic;
		@include option(font-size, 16rem);
		@include option(font-weight, 500);
		@include option(line-height, 91%);
		text-transform: uppercase;
		text-decoration: none;
		color: $grey900;

		&::before {
			box-sizing: content-box;

			content: "";
			display: block;
			@include option(width, 8rem);
			@include option(height, 8rem);

			background-color: $grey400;
			border-radius: 50%;

			position: absolute;
			top: 13rem;
			left: -25rem;
		}

		&_active {
			&::before {
				border: 12rem solid $grey200;
				top: 2rem;
				left: -37rem;
			}
		}

		&_one {
			&::before {
				background-color: $white;
			}

			&.nav__link_active {
				&::before {
					border: 12rem solid $chocolate;
				}
			}
		}

		&_four {
			&::before {
				background-color: $white;
			}

			&.nav__link_active {
				&::before {
					border: 12rem solid $select-yellow;
				}
			}
		}

		&_five {
			&::before {
				background-color: $white;
			}

			&.nav__link_active {
				&::before {
					border: 12rem solid $dark-tangerine;
				}
			}
		}

		&_seven {
			&::before {
				background-color: $white;
			}

			&.nav__link_active {
				&::before {
					border: 12rem solid $grey-squirrel;
				}
			}
		}
	}

	&__button {
		position: absolute;
		@include option(top, 932rem);
		@include option(left, 50%);
		transform: translateX(-50%);

		display: flex;
		justify-content: center;
		align-items: center;
		@include option(width, 48rem);
		@include option(height, 48rem);

		background-color: $white;
		border-radius: 100%
	}

	&__image {
		@include option(width, 20rem);
		@include option(height, 26rem);
	}
}